:root {
  --main: #333;
  --secondary: #666;
  --black: #000;
  --red: #FF0000;
  --bg-main: #F0F0F0;
  --bg-secondary: #ddd;
  --bg-lblue: #B3CDE0;
  --bg-blue: #6497B1;
  --bg-dblue: #005B96;
}

body {
  background-color: var(--bg-main);
  width: 1024px;
  height: 1366px;
  padding: 8px;
  top: -683px;
  left: -512px;
  font-family: 'Times New Roman', 'Arial', sans-serif;
}

.title {
  margin: 8px; 
  width: 1008;
  height: 64;
  padding-top: 18px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  vertical-align: middle;
}

.initial-text {
  margin: 8px;
  width: 1008;
  height: 42;
  padding-bottom: 20px;
  color: var(--secondary);
}

.container {
  margin: 10px;
  width: 244px;
  height: 288px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

div {
  padding: 10px;
  width: 224px;
  height: 74px;
  margin: 8px;
  border-width: 2px;
  background-color: var(--bg-lblue);
  border: 2px solid var(--black);
}

.middle-block {
  width: 200px;
  height: 92px;
  margin: 8px;
  padding: 10px;
  border-width: 2px;
  background-color: var(--bg-blue);
  border: 2px solid var(--black);
  box-sizing: border-box;
}

#bottom-block {
  width: 224px;
  height: 92px;
  margin: 8px;
  padding: 10px;
  border-width: 2px;
  background-color: var(--bg-dblue);
  border: 2px solid var(--black);
  box-sizing: content-box;
}

.text-bottom {
  width: 1008px;
  height: 92px;
  margin: 8px;
  padding: 20px;
  background-color: var(--bg-secondary);
  color: var(--red);
  box-sizing: border-box;
  border: none;
}

.font {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}